main {
    display: flex;
    flex-wrap: wrap;
    contain: content;
    overflow: auto;
    height: auto;
    align-content: space-around;
    background-color: var(--dark-liver-horses);
    flex-direction: row;
    align-items: center;
    justify-content: center;
}